@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
}

/* Navbar Section */

.navbar {
    background: rgb(0, 0, 0, 0.6);
  }
  
  .navbar-brand img {
    height: 2rem;
  }
  
  .video-background {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  .caption {
    position: absolute;
    top: 38%;
    width: 100%;
    color: #fff;
  }
  
  .caption h1 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: .2rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
  }
  
  .caption h3 {
    font-size: 2rem;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 1.6rem;
  }
  
  .btn-lg {
    border-width: medium;
    border-radius: 0;
    font-size: 1.1rem;
    padding: .6rem 1.3rem;
  }

/* Section 1 */

    /* video */

.gallery-container2 {
    padding: 40px 0; 
}

.gallery-container2 hr {
    background-color: #333333;
    margin-top: 30px; 
}

.gallery-container2 .screen {
    max-height: 500px;
    width: 100%;
    height: 100%; 
}

.gallery-container2 .screen iframe {
    width: 100%; 
}

.gallery-container2 .play-list {
    max-width: 900px;
    margin: 20px auto; 
}

    /* gallery */

.light-bg {
    background: #f7f7f7; 
}

.vr-gallery p {
    font-size: 15px;
    color: #444444; 
}

.vr-gallery p small {
    font-size: 11px;
    color: #03133a;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px; 
}

.vr-gallery .pd-md {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important; 
}

.vr-gallery .pd-md img {
    width: 100%; 
}

.vr-gallery h3 {
    font-size: 18px;
    color: #333333;
    margin-top: 5px;
    margin-bottom: 20px; 
}

.vr-gallery .cus-pd {
    padding: 50px 55px 10px 55px; 
}

.vr-gallery .cus-pd2 {
    padding: 40px 45px 10px 45px; 
}

.vr-gallery .card {
    height: 100%; 
}

.vr-gallery .card img {
    width: 100%; 
}

.vr-gallery .card .card-img-overlay h5 {
    font-size: 22px;
    color: #ffffff; 
}

.vr-gallery .card .card-img-overlay.opacity {
    background-color: rgba(0, 0, 0, 0.459); 
}

.vr-gallery .cus-arrow-left::before, .vr-gallery .cus-arrow-up::before {
    position: absolute;
    content: "";
    border: 20px solid transparent; 
}

.vr-gallery .cus-arrow-left::before {
    border-color: transparent #f7f7f7 transparent transparent;
    left: 0;
    margin-left: -40px;
    top: 20px; 
}

.vr-gallery .cus-arrow-up::before {
    border-width: 15px;
    border-color: transparent transparent #f7f7f7 transparent;
    margin-top: -70px;
    left: 20px; 
}

.vr-gallery .contact-box {
    background: #f7f7f7;
    display: inline-block;
    max-width: 382px;
    padding: 40px 55px 40px 55px;
    position: absolute;
    left: 0;
    bottom: 0; 
}

.vr-gallery .contact-box::after {
    position: absolute;
    content: "";
    border: 15px solid transparent;
    border-color: #03133a;
    right: 0;
    top: 0; 
}

.vr-gallery a.btn {
    width: 225px; 
}

.vr-gallery a.btn {
    background-color: #03133a;
    width: 200px;
    padding: 12px 0;
    color: #ffffff;
    font-family: "Montserrat-Bold";
    margin-top: 20px;
    border-radius: 0; 
}

.vr-gallery a.btn:hover {
    background: #ffffff;
    color: #03133a; 
}

.vr-gallery .play-1 {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%); 
}

.vr-gallery .play-1 + h5 {
    position: absolute;
    left: 0;
    right: 0;
    top: 55%;
    transform: translateY(-55%); 
}

.bg-gray {
    background: #f7f7f7; 
}

/* section 2 */
    /* gallery container */

.gallery-container h2 {
    font-size: 30px;
    color: #03133a; 
}

.gallery-container hr {
    background: #03133a;
    margin: 10px auto;
    width: 60px;
    height: 3px; 
}

.gallery-container .card-img-overlay {
    background-color: rgba(0, 0, 0, 0.67);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s; 
}

.gallery-container .card-img-overlay .top-area, .gallery-container .card-img-overlay .bottom-area {
    display: none; 
}

.gallery-container .card-img-overlay:hover {
    background-color: rgba(0, 0, 0, 0); 
}

.gallery-container .card-img-overlay:hover .top-area, .gallery-container .card-img-overlay:hover .bottom-area {
    display: block; 
}

.gallery-container .top-area {
    background-color: rgba(0, 0, 0, 0.612);
    position: absolute;
    display: block;
    padding: 15px;
    left: 0;
    right: 0;
    top: 0; 
}

.gallery-container .top-area .fa-heart {
    color: #777777; 
}

.gallery-container .bottom-area {
    position: absolute;
    display: block;
    padding: 15px;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 14px;
    font-family: "Roboto-Italic";
    background-color: rgba(0, 0, 0, 0.612); 
}

.gallery-container .bottom-area h4 {
    font-size: 16px; 
}


/* Media */

@media (max-width: 768px) {

    /* navbar section */
    .caption h1 {
        font-size: 1.4rem;
        letter-spacing: .15rem;
        padding-bottom: .5rem;
    }
    
    .caption h3 {
        font-size: 1.1rem;
        padding-bottom: 1.2rem;
    }
    
    .btn-lg {
        font-size: 1rem;
        padding: .5rem 1rem;
    }

    /* gallery media */
    .vr-gallery .col-md-4 {
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-left: 0 !important;
        margin-right: 0 !important; 
    } 
}

@media (max-width: 991px) {

    /* gallery media */
    .vr-gallery .cus-arrow-left {
        padding-left: 15px;
        padding-right: 15px; 
    }

    .vr-gallery .cus-arrow-left::before {
        border-width: 15px;
        border-color: transparent transparent #f7f7f7 transparent;
        margin-top: -50px;
        left: 50px; 
    } 
}